<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.actitime.scripts.VerifyVersionE"/>
      <class name="com.actitime.scripts.VerifyReportsDownload"/>
      <class name="com.actitime.scripts.VerifyVersion"/>
      <class name="com.actitime.scripts.VerifyHomePage"/>
      <class name="com.actitime.scripts.VerifyValidLoginPage"/>
      <class name="com.actitime.scripts.VerifyInvalidLoginPage"/>
      <class name="com.actitime.scripts.VerifyCheckBox"/>
      <class name="com.actitime.scripts.VerifyValidLoginPageLoginPageandHomePageTitle"/>
      <class name="com.actitime.scripts.VerifyLoginPageandHomePageTitle"/>
      <class name="com.actitime.scripts.VerifyUsersCreation"/>
      <class name="com.actitime.scripts.VerifyTasks"/>
      <class name="com.actitime.scripts.VerifyInvalidLoginPageE"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
